:root {
  --password-txt-color: gray;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.app-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  min-height: 9vh;
}

.link:hover {
  text-decoration: underline;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 2rem;
  min-height: 80vh;
  /* justify-content: center;
  align-items: center; */
}

/* Create Account */
.create-acc-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.submit-btn {
  place-items: center;
  margin-top: 1.5rem;
}

#createStatus {
  color: red;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(104, 29, 87);
  color: white;
  /* min-height: 8vh; */
  padding: 1.5rem;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.txt-muted {
  color: var(--password-txt-color);
}
